# Market data is never committed: NASDAQ ITCH and LOBSTER files carry
# redistribution restrictions. Sessions are fetched with tools/fetch_data.sh.
data/
*.itch
*.ITCH_50
*_ITCH50
*.gz
*.csv

build/
build-*/
results/
.cache/
compile_commands.json
